body {
    padding: 0;
    margin: auto;
    max-width: 1440px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4f4d6a;
}
h1,h2,h3,h4,h5,a,p{
    margin:0;
    padding: 0;
}
hr {
    border-color: #ffffff;
}

h1 {
    font-size: 6.8rem;
    font-weight: bold;
}

.btn-see-worx {
    width: 220px;
    height: 44px;
    border-radius: 22px;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.13));
    background-image: linear-gradient(0deg, #4f4d69 0%, #6e6c8a 100%);
    border: 1px solid #4f4d6a;
    margin-right: 20px;
    color: #ffffff;
    font-style: italic;
}

.btn-see-worx:hover{
    background-image: linear-gradient(0deg, #6e6c8a 0%, #4f4d69 100%);
    color: #c7c5c5;
}

.btn-meet-team {
    width: 220px;
    height: 44px;
    border-radius: 22px;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.13));
    background-image: linear-gradient(0deg, #9c8294 0%, #cfc1c9 100%);
    border: 1px solid #927c90;
    color: #ffffff;
    font-style: italic;
}

.btn-meet-team:hover{
    background-image: linear-gradient(0deg, #cfc1c9 0%, #9c8294 100%);
    color: #c7c5c5;
}

#banner {
    height: 100vh;
    max-height: 1135px;
    background: no-repeat url(../jpg/banner.png);
}

header nav {
    font-family: 'PT Sans', sans-serif;
    font-size: .75rem;
}

@media (max-width: 768px) {
    #banner {
        background-position: center;
    }
}