body {
    padding: 0;
    margin: auto;
    max-width: 1440px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4f4d6a;
}

h1, h2, h3, h4, h5, a, p {
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #ffffff;
    width: 100%;
}

h1 {
    font-size: 6.8rem;
    font-weight: bold;
}

h2 {
    font-size: 4.8rem;
    font-weight: bold;
}

.btn-see-worx {
    width: 220px;
    height: 44px;
    border-radius: 22px;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.13));
    background-image: linear-gradient(0deg, #4f4d69 0%, #6e6c8a 100%);
    border: 1px solid #4f4d6a;
    margin-right: 20px;
    color: #ffffff;
    font-style: italic;
}

.btn-see-worx:hover {
    background-image: linear-gradient(0deg, #6e6c8a 0%, #4f4d69 100%);
    color: #c7c5c5;
}

.btn-meet-team {
    width: 220px;
    height: 44px;
    border-radius: 22px;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.13));
    background-image: linear-gradient(0deg, #9c8294 0%, #cfc1c9 100%);
    border: 1px solid #927c90;
    color: #ffffff;
    font-style: italic;
}

.btn-meet-team:hover {
    background-image: linear-gradient(0deg, #cfc1c9 0%, #9c8294 100%);
    color: #c7c5c5;
}

.btn-view-more {
    width: 100px;
    height: 22px;
    border-radius: 4px;
    background-color: #4f4d6a;
    color: #ffffff;
    font-size: .75rem;
    font-style: italic;
    line-height: 10px;
    margin-top: 20px;
}

.btn-view-more:hover {
    background-color: #646289;
    color: #c7c5c5;
}

#banner {
    height: 100vh;
    max-height: 1135px;
    background: no-repeat url(../jpg/banner.png);
}

header nav {
    font-family: 'PT Sans', sans-serif;
    font-size: .75rem;
}

#hero .we-are {
    font-size: 1.5rem;
}

#hero .hero-text {
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    background-color: #ebebeb;
}

#ourWorx img {
    border: 20px solid #EFEFEF;
    border-radius: 250px;
    margin: 20px 0;
}

#ourWorx h4 {
    font-style: italic;
    margin: 10px 0;
}

#ourWorx p {
    font-style: italic;
    margin-bottom: 20px;
}

#ourWorx>.buttons {
    margin-top: 50px;
    padding-bottom: 100px;
}

#awesome {
    margin: 50px auto;
    font-style: italic;
}

#awesome h4 {
    margin-bottom: 30px;
}

.wrapperFooter {
    background-color: #505050;
}

footer {
    color: #ffffff;
}

footer h4 {
    margin: 50px auto 30px auto;
    font-style: italic;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

footer .copyRight {
    margin: 50px auto 100px auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    #banner {
        background-position: center;
    }
    .btn-see-worx {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .btn-view-more {
        margin-bottom: 30px;
    }
}